.button {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
}

.button:not(:last-child) {
  margin-right: 15px;
}

.button:nth-child(1) {
  background-color: #73b66b;
  border: 1px solid #73b66b;
}

.button:nth-child(2) {
  background-color: #ffcb18;
  border: 1px solid #ffcb18;
}

.button:nth-child(3) {
  background-color: #ff6d31;
  border: 1px solid #ff6d31;
}

.button:hover:nth-child(1),
.button:focus:nth-child(1),
.button:active:nth-child(1) {
  color: #73b66b;
  background-color: #fff;
  border: 1px solid #73b66b;
}
.button:hover:nth-child(2),
.button:focus:nth-child(2),
.button:active:nth-child(2) {
  color: #ffcb18;
  background-color: #fff;
  border: 1px solid #ffcb18;
}
.button:hover:nth-child(3),
.button:focus:nth-child(3),
.button:active:nth-child(3) {
  color: #ff6d31;
  background-color: #fff;
  border: 1px solid #ff6d31;
}
